<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Hassan's Notebook

#### __Introduction:__
This is the code for my first peer-reviewed assignment in the IBM Data Science Course on Coursera

Here is a list of data science languages:
* Python
* R
* SQL
* Julia
* Scala

Here is a list of data science languages:
* NumPy
* pandas
* Scikit-learn
* Matplotlib

category|tools|description
--------|---------|-----------
Data Exploration & Analysis|Jupyter Notebook, JupyterLab|Interactive environments for writing code, visualizing data, and developing data science workflows.
Database Management|SQL, MySQL, PostgreSQL|Structured Query Language (SQL) and various database management systems for storing, retrieving, and manipulating data.
Cloud Platforms|Google Colab, Amazon SageMaker, Microsoft Azure Machine Learning|Cloud-based platforms that provide resources for running and deploying data science projects.

Here are some arithmetic expression examples:

2+2

2/3

9-6

In [1]:
#Here is a cell to multiply and add numbers:


(2*7)+(1*3)

17

In [9]:
#here is a cell to convert minutes to hours:

minutes = 30
hours = minutes/60
print(hours)

#30 minutes is equivalent to 0.5 hours

0.5

____Objectives:____

* Populate Mars
* Finish IBM data science course
* Travel to Sudan

___Author: Hassan Suliman___

__here is my screenshot:__

![My screenshot](screenshot.png)